<div class="modal-container">
    <h3>{{title}}</h3>
    <ng-container *ngIf="data.mode =='ADD' || data.mode == 'EDIT'">
        <form [formGroup]="form">
            <div class="mb-3">
                <label for="userId" class="form-label">Who paid?</label>
                <select class="form-control" formControlName="userId" (change)="onUserChange($event)">
                    <option *ngFor="let u of data.users; let i = index" [value]="u.id">
                        {{u.name}}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Description</label>
                <input id="name" class="form-control" formControlName="name" type="text" />
            </div>
            <div class="mb-3">
                <label for="transactionType" class="form-label">Type</label>
                <select class="form-control" formControlName="transactionType">
                    <option *ngFor="let t of transactionTypes; let i = index" [value]="t.id">
                        {{t.name}}
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label for="amountPaid" class="form-label">Amount</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" formControlName="amountPaid" type="number"
                        aria-label="Amount (to the nearest dollar)">
                </div>
                <span class="text-danger"
                    *ngIf="form.get('amountPaid').dirty && form.get('amountPaid').hasError('min')">
                    Invalid input
                </span>
            </div>

            <div class="mb-3" *ngIf="form.get('transactionType').value == 'OWED_FULL_AMOUNT_CUSTOM'">
                <label for="credits" class="form-label">Credit Map</label>
                <ng-container formArrayName="credits">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">User</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ug of creditArray.controls; let i = index; let l = last;">
                                <ng-container [formGroupName]="i" class="">
                                    <td>
                                        <label>{{ug.get('userName')?.value}}</label>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="amount"
                                                type="number" aria-label="Amount (to the nearest dollar)">
                                        </div>
                                    </td>
                                </ng-container>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td>
                                    <span [ngClass]="isCreditMapExceedsAmountPaid ? 'text-danger' : ''">${{totalCredit}}/${{form.get('amountPaid').value}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
            <div class="flex-end">
                <button type="button" class="btn btn-light" (click)="close()">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="form.invalid || !validateCustomCredit"
                    (click)="add()">Add</button>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="data.mode == 'DELETE'">
        <h6>Are you sure you want to delete expense{{data.id}}?</h6>
        <div class="flex-end">
            <button type="button" class="btn btn-light" (click)="close()">Close</button>
            <button type="button" class="btn btn-danger" (click)="close(true)">Delete</button>
        </div>
    </ng-container>
</div>