<div id="expenses">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Transaction Name</th>
                <th scope="col">Action</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let it of data">
                <td>
                    {{it.paidBy?.name}}
                </td>
                <td>
                    {{it.name}}
                </td>
                <td>
                    {{it.transactionType}}
                </td>
                <td>
                    $ {{it.amountPaid}}
                </td>
            </tr>
        </tbody>
    </table>
</div>