<div id="expenses">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <!-- <th scope="col">Date Created</th> -->
                <th scope="col">User</th>
                <th scope="col">Transaction Name</th>
                <th scope="col">Transaction Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let it of data">
                <!-- <td>
                                {{it.dateCreated}}
                            </td> -->
                <td>
                    {{it.paidBy?.name}}
                </td>
                <td>
                    {{it.name}}
                </td>
                <td>
                    <span *ngIf="it.transactionType == 'CUSTOM'" class="badge bg-info"> Custom</span>
                    <span *ngIf="it.transactionType == 'SETTLE'" class="badge bg-success"> Settle</span>
                    <span *ngIf="it.transactionType == 'SPLIT_EQUALLY'" class="badge bg-danger"> Split Equally</span>
                    <span *ngIf="it.transactionType == 'OWED_FULL_AMOUNT'" class="badge bg-warning text-dark"> Owed Full
                        Amount</span>
                </td>
                <td>
                    $ {{it.amountPaid}}
                </td>
                <td>
                    <span class="mx-1"><i (click)="deleteExpense(it.id)" class="bi bi-trash-fill clickable"></i></span>
                    <span class="mx-1"><i (click)="editExpense(it.id)" class="bi bi-pencil-square clickable"></i></span>
                </td>
            </tr>
            <tr *ngIf="data?.length == 0">
                <td colspan="6" style="text-align: center;">No Data</td>
            </tr>
        </tbody>
    </table>
</div>