<div id="information-panel">
    <!-- List of uses involved -->
    <div class="flex">
        <div class="info-item" *ngFor="let user of userData">
            <div>
                <h3>{{user.name}}
                    <span *ngIf="user.amount != 0; else allSettled" [ngClass]="user.amount > 0 ? 'text-success':'text-danger'">
                        {{user.amount > 0 ? "is owed $" + (user.amount | abs) : "owes $" + (user.amount | abs )}}
                    </span>
                </h3>

                <div *ngFor="let item of user.debts | keyvalue">
                    You owe <b>${{(item.value | abs | number : '1.2-2')}}</b> to <b class="text-danger">{{item.key}}</b>
                </div>


                <div *ngFor="let item of user.isOwed | keyvalue">
                    <b class="text-success">{{item.key}}</b> owe you <b>${{item.value | abs | number : '1.2-2'}}</b>
                </div>
            </div>
        </div>
        <hr>

    </div>

    <div class="button-container">
        <button class="btn btn-primary" type="button" (click)="addTransaction()">Add Transaction</button>
        <button class="btn btn-primary" type="button" (click)="settlePayment()">Settle</button>
    </div>
</div>

<ng-template #allSettled>
    <span class="text-success">is all settled</span>
</ng-template>
