<div class="modal-container">
    <h3>Settle Payment</h3>
    <form [formGroup]="form">
        <div class="mb-3">
            <label for="userId" class="form-label">Who paid?</label>
            <select (change)="onChangeUser($event)" class="form-control" formControlName="userId" >
                <option *ngFor="let u of usersWithDebts; let i = index" [value]="u.id">
                     {{u.name}}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="settlementTo" class="form-label">Payment To</label>
            <select (change)="onChangeSettlementTo($event)" class="form-control" formControlName="settlementTo" >
                <option *ngFor="let u of form.get('settlementToList').value; let i = index" [value]="u.id" [selected]="u.id == form.get('settlementTo').value">
                     {{u.name}}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="amountPaid" class="form-label">Amount</label>
            <em class="ms-1 form-label">{{debtInfoMessage}}</em>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" formControlName="amountPaid" type="number"
                    aria-label="Amount (to the nearest dollar)">
            </div>
            <span class="text-danger" *ngIf="form.get('amountPaid').dirty && form.get('amountPaid').hasError('min')">
                Invalid input
            </span> 
        </div>
        <button class="btn btn-light" (click)="close()">Close</button>
        <button class="btn btn-primary" [disabled]="form.invalid" (click)="settle()">Settle Payment</button>
    </form>
</div>