<div class="project-detail-container">
    <h2>Group: {{data?.projectName}}</h2>
    <button (click)="loadState()">Load State</button>
    <app-user-info [userData]="expenseReducerOutput.users" (onSettlePayment)="onSettlePaymentModal()"
        (onAddTransaction)="onAddTransactionModal()" />
    <app-expenses (onDeleteExpense)="deleteExpense($event)" *ngIf="expenseReducerOutput?.expenses?.length; else noData" [data]="expenseReducerOutput?.expenses" />
    <!-- <pre>
    {{data?.expenses | json}}
    </pre> -->

    <div class="flex">
        <!-- <pre>
            {{userData | json}}
            </pre> -->

        <pre>
                {{expenseReducerOutput | json}}
            </pre>
    </div>


    <ng-template #noData>
        <p>No Data</p>
    </ng-template>

</div>