<ng-container *ngIf="!isLoading; else loading">
    <div class="project-detail-container" *ngIf="currentProjectState?.users?.length > 0">
        <h2>{{currentProjectState?.projectName}}</h2>
        <!-- <button (click)="loadState()">Load State</button> -->
        <app-user-info [project]="currentProjectState" />
    
        <div class="button-container my-1">
            <button class="btn btn-primary" type="button" (click)="onAddExpenseModal()">Add Expense</button>
            <button [disabled]="currentProjectState?.expenses?.length == 0" class="btn btn-success" type="button" (click)="onSettlePaymentModal()">Settle</button>
        </div>
    
        <app-expenses (onEditExpense)="onEditExpenseButtonClick($event)" (onDeleteExpense)="deleteExpense($event)" [data]="currentProjectState?.expenses" />
    
        <ng-template #noData>
            <p>No Data</p>
        </ng-template>

    </div>
    
    <button (click)="goToHome()">Home</button>
</ng-container>

<ng-template #loading>
    Loading...
</ng-template>

