<div class="project-detail-container" *ngIf="expenseReducerOutput?.users?.length > 0">
    <h2>Group: {{expenseReducerOutput?.projectName}}</h2>
    <!-- <button (click)="loadState()">Load State</button> -->
    <app-user-info [project]="expenseReducerOutput" (onSettlePayment)="onSettlePaymentModal()"
        (onAddTransaction)="onAddTransactionModal()" />
    <app-expenses (onDeleteExpense)="deleteExpense($event)" *ngIf="expenseReducerOutput?.expenses?.length; else noData" [data]="expenseReducerOutput?.expenses" />

    <ng-template #noData>
        <p>No Data</p>
    </ng-template>

    <!-- <pre>
        {{expenseReducerOutput | json}}
    </pre> -->
</div>

<button (click)="goToHome()">Home</button>